html {
    overflow-y:scroll;
}

/*nav, .brand-logo  {
  -webkit-app-region: drag;
}

#hamburger, a , label, select {
  -webkit-app-region: no-drag;
}*/

.controlIcons {
  font-size:20px !important;
  color: #D9D9D9;
  letter-spacing: 5px;
}

tr {
  white-space: pre-wrap;
}

th, td {
  padding:10px;
}
.controlIcons:hover {
  color:#808080;
}

#contentsth {
  padding: 10px;
  width: 88%;
}

#functionsth {
  width:4%
}

#timeth {
  width: 8%;
}

  #qrimg {
    width: 340px;
  }

#qrcode {
  max-width:390px;
  max-height:510px;
}

#clearform {
  margin-left: 20px;
}

body {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}


.hidden {
  visibility: hidden;
}

#picture {
  width: 50%;
}

/*#dasTable {
  margin: 2% 2% 2% 2%;
}*/
